@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #7cf03d;
    --white-color: #fff;
    --disabled-color: #fff3;
}

html {
    font-size: 56.25%;
}

body {
    color: var(--white-color);  
   
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%; 
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 0.2rem 1rem rgba(0,0,0,0.1);
    visibility: hidden;
    opacity: 0;
}

header.active {
    animation: showHeader 1.5s linear forwards;
    animation-delay: 1.2s;
}

@keyframes showHeader {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.logo {
     font-size: 2.2rem;
    color:  var(--white-color);
    font-weight: 700;
}

nav a {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .5s;
}

nav a:hover,
nav a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 2rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

.bars-box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.bars-box  .bar {
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: hide-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
}

@keyframes hide-bars {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.bars-box.active .bar {
    animation: show-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}
section.active {
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
        overflow: auto;
    }
}

.home {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.home-detail h1 {
    font-size: clamp(2rem, 5vw, 4rem);
}

.home-detail h2 {
    display: inline-block;
    font-size: 2.3rem;
    margin-top: -0.8rem;
}

.home-detail h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .07rem var(--main-color);
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
    25%,100% {
        display: none;
    }
}

.home-detail h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid var(--main-color);
    color: var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
    10%,100% {
        width: 0;
    }
    70%,90% {
        width: 100%;
    }
}

.home-detail p  {
    font-size: 1.3rem;
    margin: 1rem 0 2.5rem;
}

.home-detail .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 1rem 2.7rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.4rem;
    color: var(--bg-color);
    font-weight: 500;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    box-shadow: none;
}

.home-detail .btn-sci .sci {
    margin-left: 2rem;
}

.home-detail .btn-sci .sci a {
    display: inline-flex;
    padding: .6rem;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 0 .8rem;
    transition: .5s;
}

.home-detail .btn-sci .sci a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.home-img .img-box {
    position: relative;
    width: 26vw;
    height: 26vw;
    border-radius: 50%;
    padding: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 50rem;
    height: 50rem;
    background: conic-gradient(transparent, transparent, transparent, var(--main-color));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
    animation-delay: -5s;
}
@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-radius: 50%;
    border: .01rem solid var(--bg-color);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: lighten;
    
}

/* services section */

.heading {
    font-size: 3.8rem;
    text-align: center;
    margin-bottom: 2.1rem;
}

.heading span {
    color: var(--main-color);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:3rem;
}

.services-container .service-box {
    padding: 2rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    border-radius: 1rem;
    transition: .5s;
}

.services-container .service-box.service-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.service-box .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-box .icon i {
    font-size: 2.2rem;
}

.service-box:hover .icon :not(a i){
    color: var(--main-color);
}

.service-box .icon a{
    display: inline-flex;
    background: var(--white-color);
    border-radius: 50%;
    padding: 0.8rem;
    transition: .5s;
}

.service-box:hover .icon a {
    background: var(--main-color);
}


.service-box .icon a i {
    font-size: 1.9rem;
    color: var(--bg-color);
    transform: rotate(225deg);
    transition: .5s;
}

.service-box .icon a:hover i {
    transform: rotate(180deg);
}

.service-box h3 {
    font-size: 1.9rem;
    margin: .5rem 0 1rem;
    transition: .5s;
} 

.service-box:hover h3 {
    color: var(--main-color);
}


.service-box p {
    font-size: 1.1rem;
}

/* resume section */

.resume-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.resume-box h2 {
    font-size: 2.6rem;
}

.resume-box p {
    font-size: 1.3rem;
}

.resume-box .desc {
    margin: 1rem 0 1.9rem;
}

.resume-box .resume-btn {
    width: 100%;
    height: 5rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    font-size: 1.2rem;
    color: var(--white-color);
    font-weight: 500;
    margin-bottom: 1.5rem;
    border-radius: .8rem;
    cursor: pointer;
}

.resume-box .resume-btn.active {
    border-color: var(--main-color);
    color: var(--main-color);
}

.resume-box .heading {
    font-size: 3rem;
    text-align: left;
}

.resume-detail {
    display: none;
}

.resume-detail.active {
    display: block;
}

.resume-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem,1fr));
    gap: 2rem;
    height:40rem;
    overflow: auto;
}

.resume-list::-webkit-scrollbar{
    width: .6rem;

}

.resume-list::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 2rem;

}

.resume-list:hover::-webkit-scrollbar-thumb {
    background: var(--main-color);
}
.resume-list .resume-item {
    background: var(--second-bg-color);
    border-radius: .8rem;
    padding: 2rem;
    height: calc((40rem - 1rem) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-item .year {
    color: var(--main-color);
    padding-bottom: .3rem;

}

.resume-item h3 {
    font-size: 1.3rem;
    padding-bottom: .7rem;
}

.resume-item .company {
    position: relative;
    margin-left: 2rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.resume-item .company::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    background: var(--main-color);
    border-radius: 50%;
    margin-left: -2rem;
}

.resume-detail.skills .resume-list {
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    height: auto;
    overflow: visible;
}

.resume-detail.skills .resume-item {
    position: relative;
    align-items: center;
    height: auto;
}

.resume-detail.skills .resume-item i {
    font-size: 5rem;
    transition: .5s;
}

.resume-detail.skills .resume-item:hover {
    color: var(--main-color);
}

.resume-detail.skills .resume-item span {
    position: absolute;
    top: -20%;
    background: var(--white-color);
    color: var(--bg-color);
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    opacity: 0;
    transform: scale(.9);
    transition: .2s;
}

.resume-detail.skills .resume-item:hover span {
    top: -25%;
    opacity: 1;
    transform: scale(1);
}

.resume-detail.about .resume-list {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
}

.resume-detail.about .resume-item {
    height: auto;
    padding: 0 0 .5rem;
    background: transparent;
}

.resume-detail.about .resume-item p {
    color: var(--main-color);
    text-wrap: nowrap;

}

.resume-detail.about .resume-item p span {
    color: var(--white-color);
    margin-left: 0.7rem;
    font-size: 1.2rem;
}

